/* ============================== 
* Copyright: Tencent ISUX 
* Project: BiliGM
* Description: bili-ground music
* Author: kmokidd 
* Datetime: 2017-10-16
* ============================== */
@import 'base-reset';

@theme-color: #FBA0BE;


// reset
input, .btn {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 0;
}

.btn {
  box-sizing: border-box;
  padding: 0 .08rem;
  border-radius: .03rem;
  text-align: center;

  cursor: pointer;
  &--active {
    background-color: rgba(242, 152, 181, .8);
    &:hover {
      background-color: rgba(242, 152, 181, 1);
    }
  }
  &--search {
    border-radius: 0;
    background-color: @theme-color;
    &:hover {
      background-color: darken(@theme-color, 5%);
    }
  }
}

.icon {
  display: inline-block;
  &--search {
    display: flex;
    justify-content: center;
    align-content: center;
    svg {
      display: block;
      fill: #fff;
    }
  }
  &--nav--back {
    width: 0.3rem;
    height: 0.3rem;
    background-image: url(../../img/icon-nav-back.svg);
  }
}

html {
  font-size: 100px;
  color: rgba(0, 0, 0, .8);
}
body {
  font-size: 12px;
  line-height: 1.2;
}

[v-cloak] {
  display: none;
}

.bgm {
  min-height: 100vh;
  padding-top: 0.08rem;
  // padding: .1rem .08rem 0;

  display: flex;
  flex-direction: column;
  justify-content: center;

  // 搜索栏
  &__search {
    display: flex;
    padding: 0 .1rem;
    
    @size: .56rem;
    &__bar {
      display: block;
      flex: 1;
      
      width: 100%;
      height: @size;
      box-sizing: border-box;
      border: 1px solid #E5E9EF;
      border-right: none;
      padding: 0 .11rem;
      line-height: 54px;

      font-size: 18px;
    }
    .btn {
      display: block;
      margin: 0 auto;

      width: @size;
      height: @size;
      line-height: @size;
    }
  }

  // 搜索结果
  &__result {
    flex: 1;
    margin-top: .2rem;
    width: 100vw;
    overflow: hidden;;
  }

  // 导航
  &__nav {
    .btn {
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
    }
  }
  // 加载动画
  &__loading {
    padding: .1rem 0;
    text-align: center;

    opacity: 1;
    transition: opacity 1s ease;
    &.hide {
      opacity: 0;
    }

    @keyframes list-loading {
      from {
        opacity: 1;
        transform: translateY(-5px);
      }
      to {
        opacity: 0;
        transform: translateY(0);
      }
    }
    &__node {
      @size: 8px;

      position: relative;
      z-index: 0;
      display: inline-block;

      width: @size;
      height: @size;
      border-radius: 100%;
      background-color: #ccc;

      animation: list-loading 1.5s linear infinite;
      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: @size;
        border-radius: 100%;
        background-color: #ccc;
      }
      @dis: -14px;
      &::before {
        left: @dis;
      }
      &::after {
        right: @dis;
      }
    }
  }

  &__cont {
    display: flex;
    transition: transform 500ms ease-in-out;
  }
}

// 左图右文，点击播放
.cont {
  width: 100vw;
  flex-shrink: 0;
  padding: 0 .1rem;
  box-sizing: border-box;
  line-height: 1.3;
  &__item {
    display: flex;
    align-items: center;
    padding: .05rem 0;
    margin-bottom: .06rem;
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, .02);
    }
    &:last-of-type {
      margin-bottom: 0;
    }
    &__cover {
      display: block;
      width: .5rem;
      height: .5rem;
      // box-sizing: border-box;
      // padding: .3rem;
      margin-right: .1rem;

      // background-color: #ccc;
      background-image: url(../../img/icon-favorite.svg);
      background-clip: content-box;
      background-size: cover;
      background-repeat: no-repeat;
      &--single {
        background-image: url(../../img/icon-single.svg)
      }
      &--multiple {
        background-image: url(../../img/icon-multiple.svg)
      }
    }
    &__info {
      min-width: 0;
      flex: 1;
    }
    &__title {
      margin-bottom: .08rem;

      // 两行截断
      font-size: 16px;
      color: #111;
    }
    &__subinfo {
      margin-bottom: .03rem;
      &:last-of-type {
        margin-bottom: 0;
      }

      &__txt {
        display: block;
        margin-bottom: 0.05rem;
        font-size: 12px;
        color: #aaa;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}