/* ============================== 
* Copyright: Tencent ISUX 
* Project: BiliGM
* Description: bili-ground music
* Author: kmokidd 
* Datetime: 2017-10-16
* ============================== */
@import 'base-reset';

@theme-color: #FBA0BE;


// reset
input, .btn {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 0;
}

.btn {
  box-sizing: border-box;
  padding: 0 .08rem;
  border-radius: .03rem;
  text-align: center;

  cursor: pointer;
  &--active {
    background-color: rgba(242, 152, 181, .8);
    &:hover {
      background-color: rgba(242, 152, 181, 1);
    }
  }
  &--search {
    border-radius: 0;
    background-color: @theme-color;
    &:hover {
      background-color: darken(@theme-color, 5%);
    }
  }
}

.icon {
  display: inline-block;
  &--search {
    display: flex;
    justify-content: center;
    align-content: center;
    svg {
      display: block;
      fill: #fff;
    }
  }
}

html {
  font-size: 100px;
  color: rgba(0, 0, 0, .8);
}
body {
  font-size: 12px;
  line-height: 1.2;
}

.bgm {
  height: 100vh;
  padding: 0 .08rem;

  display: flex;
  flex-direction: column;
  justify-content: center;

  // 搜索栏
  &__search {
    display: flex;
    
    @size: .56rem;
    &__bar {
      display: block;
      flex: 1;
      
      width: 100%;
      height: @size;
      box-sizing: border-box;
      border: 1px solid #E5E9EF;
      border-right: none;
      padding: 0 .11rem;
      line-height: 54px;

      font-size: 18px;
    }
    .btn {
      display: block;
      margin: 0 auto;

      width: @size;
      height: @size;
      line-height: @size;
    }
  }
}